<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="min-vh-100 d-flex flex-column">
{% include 'header.html' %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    {% set id, url, last_check, status  = site %}
                    <tr>
                        <td>
                            {{ id }}
                        </td>
                        <td>
                            <a href="/urls/{{ id }}">
                                {{ url }}
                            </a>
                        </td>

                        <td>
                            {{ last_check }}
                        </td>

                        <td>
                            {{ status }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% include 'footer.html' %}
{% include 'bootstrap_script.html' %}
</body>
</html>